<h1>Editing deliverable</h1>

<% form_for(@deliverable) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :listing_id %><br />
    <%= f.text_field :listing_id %>
  </p>
  <p>
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @deliverable %> |
<%= link_to 'Back', deliverables_path %>
