<div style="height: 800px; width: 190px; margin-left: 20px; margin-top: 20px; display: block; font-stretch: extra-expanded; " class="left">
<ul>
		<li class="text_lightgrey"><p><%= image_tag("d1.jpg", :size => "20x20" ) %><span style="vertical-align: 30%; margin-left: 10px;"><%= link_to t('views.listings.newlisting_edit.s1'), title_url%></span></p></li>
		<li class="text_lightgrey"><p><%= image_tag("d2.jpg", :size => "20x20" ) %><span style="vertical-align: 30%; margin-left: 10px;"><%= link_to t('views.listings.newlisting_edit.s2'), cat_url%></span></p></li>
		<li class="text_lightgrey"><p><%= image_tag("d3.jpg", :size => "20x20" ) %><span style="vertical-align: 30%; margin-left: 10px;"><%= link_to t('views.listings.newlisting_edit.s3'), spec_url%></span></p></li>
		<li class="text_lightgrey"><p><%= image_tag("d4.jpg", :size => "20x20" ) %><span style="vertical-align: 30%; margin-left: 10px;"><%= link_to t('views.listings.newlisting_edit.s4'), ship_url%></span></p></li>
		<li class="text_lightgrey"><p><%= image_tag("d5.jpg", :size => "20x20" ) %><span style="vertical-align: 30%; margin-left: 10px;"><%= link_to t('views.listings.newlisting_edit.s5'), img_url%></span></p></li>
</ul>
</div>
