<% @onpage = 4 %>
<%= render :partial => "newlisting_edit", :object => @onpage %>
<div style="width: 750px; float:left;">
    <h2 class="text_green"><%= t('views.listings.edit4.s1') %></h2>
    <div class="form_top">
    </div>
		

    <div class="form_area background_grey" style="text-align:left;">
	       <div style="text-align: right; float: right; ">
            <%= image_tag("important.png") %>= <%= t('views.listings.edit4.s2') %>
        </div>
        <% form_for(@listing, :url => update4_url(@listing.seller, @listing), :html => {:multipart => true, :method => :put }) do |f| %>
			<table>
            <tr>
                <td class="bold" style="width: 150px;">
                    <%= t('views.listings.edit4.s3') %>  <%= image_tag("important.png")%>
                </td>
                <td>
                    <%= f.text_field :preparation_time, :size => 8, :tabindex => 1, :value => (@listing.preparation_time || "0") %>
                </td>
                <td>
                    <%= t('views.listings.edit4.s4') %><%= error_message_on(:listing, :preparation_time) %>
                </td>
            </tr>
        </table>
		<br>
        <table>
            
            <tr>
                <td class="bold" style="width: 150px;">
                    <%= t('views.listings.edit4.s5') %><%= image_tag("important.png")%>
                </td>
                <td colspan="2">
                	 	
                    <%= select( "listing", "country1", country_list(1), :tabindex => 1 ) %>
                </td>
            </tr>
     
			
        </table>
        <%= set_focus_to_id("listing_country1") %>
	    <table>
            <tr>
                <td style="width: 150px;">
                    <%= t('views.listings.edit4.s6') %><%= image_tag("important.png")%>
                </td>
                <td>
                    <%= f.text_field :country1_shipping, :size => 8, :value => number_to_currency(@listing.country1_shipping, :unit => ""), :tabindex => 2 %>
					
                </td>
                <td>
                    €<%= error_message_on(:listing, :country1_shipping) %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s7') %><%= image_tag("important.png")%>
                </td>
                <td>
                    <%= f.text_field :country1_shipping_with_another_item, :size => 8, :value => number_to_currency(@listing.country1_shipping_with_another_item, :unit => ""), :tabindex => 3 %>
                </td>
                <td>
                    € <%= error_message_on(:listing, :country1_shipping_with_another_item) %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s8') %><%= image_tag("important.png")%>
                </td>
                <td>
                    <%= f.text_field :country1_deliverytime, :size => 8, :value => @listing.country1_deliverytime, :tabindex => 4 %>
                </td>
                <td>
                    <%= t('views.listings.edit4.s9') %><%= error_message_on(:listing, :country1_deliverytime) %>
                </td>
            </tr>
        </table>
        <hr style="border:1px solid white;">
        <table>
           
            <tr>
                <td class="bold" style="width: 150px;">
                    <%= t('views.listings.edit4.s10') %>
                </td>
                <td colspan="2">
                  <%= select( "listing", "country2", country_list(1), :tabindex => 1 ) %>
                </td>
            </tr>
      
        </table>
        <table>
            <tr>
                <td style="width: 150px;">
                    <%= t('views.listings.edit4.s11') %>
                </td>
                <td>
                    <%= f.text_field :country2_shipping, :size => 8, :value => number_to_currency(@listing.country2_shipping, :unit => ""), :tabindex => 6 %>
                </td>
                <td>
                    € <%= error_message_on(:listing, :country2_shipping) %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s12') %>
                </td>
                <td>
                    <%= f.text_field :country2_shipping_with_another_item, :size => 8, :value => number_to_currency(@listing.country2_shipping_with_another_item, :unit => ""), :tabindex => 7 %>
                </td>
                <td>
                    €  <%= error_message_on(:listing, :country2_shipping_with_another_item) %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s13') %> 
                </td>
                <td>
                    <%= f.text_field :country2_deliverytime, :size => 8, :value => @listing.country2_deliverytime, :tabindex => 8 %>
                </td>
                <td>
                    <%= t('views.listings.edit4.s14') %><%= error_message_on(:listing, :country2_deliverytime) %>
                </td>
            </tr>
        </table>
        <table>
           
            <tr>
                <td class="bold" style="width: 150px;">
                    <%= t('views.listings.edit4.s15') %>
                </td>
                <td colspan="2">
                  <%= select( "listing", "country3", country_list(1), :tabindex => 1 ) %>
                </td>
            </tr>
         
        </table>
        <table>
            <tr>
                <td style="width: 150px;">
                    <%= t('views.listings.edit4.s16') %>
                </td>
                <td>
                    <%= f.text_field :country3_shipping, :size => 8, :value => number_to_currency(@listing.country3_shipping, :unit => ""), :tabindex => 10 %>
                </td>
                <td>
                    €  <%= error_message_on(:listing, :country3_shipping) %> 
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s17') %>
                </td>
                <td>
                    <%= f.text_field :country3_shipping_with_another_item, :size => 8, :value => number_to_currency(@listing.country3_shipping_with_another_item, :unit => ""), :tabindex => 11 %>
                </td>
                <td>
                    € <%= error_message_on(:listing, :country3_shipping_with_another_item) %> 
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s18') %>
                </td>
                <td>
                    <%= f.text_field :country3_deliverytime, :size => 8, :value => @listing.country3_deliverytime, :tabindex => 12 %>
                </td>
                <td>
                    <%= t('views.listings.edit4.s19') %><%= error_message_on(:listing, :country3_deliverytime) %>
                </td>
            </tr>
        </table>
        <table>
         
            <tr>
                <td class="bold" style="width: 150px;">
                    <%= t('views.listings.edit4.s20') %>
                </td>
                <td colspan="2">
                    <%= select( "listing", "country4", country_list(1), :tabindex => 13 ) %>
                </td>
            </tr>
      
        </table>
        <table>
            <tr>
                <td style="width: 150px;">
                    <%= t('views.listings.edit4.s21') %>
                </td>
                <td>
                    <%= f.text_field :country4_shipping, :size => 8, :value => number_to_currency(@listing.country4_shipping, :unit => ""), :tabindex => 14 %>
                </td>
                <td>
                    € <%= error_message_on(:listing, :country4_shipping) %> 
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s22') %>
                </td>
                <td>
                    <%= f.text_field :country4_shipping_with_another_item, :size => 8, :value => number_to_currency(@listing.country4_shipping_with_another_item, :unit => ""), :tabindex => 15 %>
                </td>
                <td>
                    € <%= error_message_on(:listing, :country4_shipping_with_another_item) %> 
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s23') %>
                </td>
                <td>
                    <%= f.text_field :country4_deliverytime, :size => 8, :value => @listing.country4_deliverytime, :tabindex => 16 %>
                </td>
                <td>
                    <%= t('views.listings.edit4.s24') %><%= error_message_on(:listing, :country4_deliverytime) %>
                </td>
            </tr>
        </table>
        <table>
          
            <tr>
                <td class="bold" style="width: 150px;">
                    <%= t('views.listings.edit4.s25') %>
                </td>
                <td colspan="2">
                    <%= select( "listing", "country5", country_list(1), :tabindex => 17 ) %>
                </td>
            </tr>
      
        </table>
        <table>
            <tr>
                <td style="width: 150px;">
                    <%= t('views.listings.edit4.s26') %>
                </td>
                <td>
                    <%= f.text_field :country5_shipping, :size => 8, :value => number_to_currency(@listing.country5_shipping, :unit => ""), :tabindex => 18 %>
                </td>
                <td>
                    € <%= error_message_on(:listing, :country5_shipping) %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s27') %>
                </td>
                <td>
                    <%= f.text_field :country5_shipping_with_another_item, :size => 8, :value => number_to_currency(@listing.country5_shipping_with_another_item, :unit => ""), :tabindex => 19 %>
                </td>
                <td>
                    € <%= error_message_on(:listing, :country5_shipping_with_another_item) %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= t('views.listings.edit4.s28') %>
                </td>
                <td>
                    <%= f.text_field :country5_deliverytime, :size => 8, :value => @listing.country5_deliverytime, :tabindex => 20 %>
                </td>
                <td>
                    <%= t('views.listings.edit4.s29') %><%= error_message_on(:listing, :country5_deliverytime) %>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="bold">
                    <%= t('views.listings.edit4.s30') %>:
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <%= f.text_area :shipping_comments , :cols => 54, :rows => 5, :value => @listing.shipping_comments, :tabindex => 21 %>
                </td>
            </tr>
        </table>
      
    </div>

	    <div class="form_top form_bottom">
    </div>
	     <div class="right" style="clear: both; margin: 20px 20px 20px 20px;">
            <%= f.submit t('views.listings.edit4.s31'), :id => "submit3", :class => "submit_b" %>
        </div>
</div>
<% end %>