<% @onpage = 1 %>
<%= render :partial => "newlisting_edit", :object => @onpage %><!-- add edit to newlisting, make a second copy-->
<div style="width: 750px; float:left;">
    <h2 class="text_green"><%= t('views.listings.edit1.s1') %></h2>
    <% form_for(@listing, :url => update1_url(@listing.seller, @listing), :html => {:multipart => true, :method => :put }) do |f| %>
    <div class="form_top">
    </div>
    <div class="form_area background_grey">
        <div style="text-align: right; float: right;">
            <%= image_tag("important.png") %>= <%= t('views.listings.edit1.s2') %>
        </div>
        <table class="align_left">
            <tr>
                <td class="bold" colspan="4">
                    <%= t('views.listings.edit1.s3') %><%= image_tag("important.png") %><%= error_message_on(:listing, :title) %>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <%= f.text_field :title, :size => 80 , :tabindex => 1 %><%= set_focus_to_id("listing_title") %>
                </td>
            </tr>
            <tr>
                <td class="bold" style="width: 130px;" colspan="2">
                    <%= t('views.listings.edit1.s4') %><%= image_tag("important.png") %><%= error_message_on(:listing, :price) %>
                </td>
                <td class="bold">
                    <%= t('views.listings.edit1.s5') %><%= image_tag("important.png") %><%= error_message_on(:listing, :nr_of_items_in_stock) %>
                </td>
                <td class="bold">
                    <%= t('views.listings.edit1.s6') %>
                </td>
				<td class="bold">
                    <%= t('views.listings.new.s14') %>				
                </td>
            </tr>
            <tr>
                <td style="width: 80px;">
                    <%= f.text_field :price, :size => 4, :tabindex => 2 %>
                </td>
                <td style="width: 50px;">
                    €
                </td>
                <td style="width: 140px;">
                    <%= f.text_field :nr_of_items_in_stock, :tabindex => 3,  :size => 4 %>
                </td>
                <td style="width: 110px;">
                    <%= f.select("quality",  {t('views.listings.edit1.s7') => "1", t('views.listings.edit1.s8') => "2"}, {}, {:tabindex => 6}) %>
                </td>
				<td style="width: 170px;">
                    <%= f.select("renting",  {t('views.listings.new.s15') => "No", t('views.listings.new.s16') => "Yes", t('views.listings.new.s17') => "Out"}, {}, {:tabindex => 6}) %>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="bold" colspan="2" style="text-align: left;">
                    <div class="info">
                        <%= t('views.listings.edit1.s9') %> <%= image_tag("important.png") %><%= error_message_on(:listing, :description) %>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <%= f.text_area :description , :cols => 62, :rows => 10, :tabindex => 7 %>
                </td>
            </tr>
            <tr>
            </td>
        </tr>
        <tr>
        </tr>
        </table>
    </div>
    <div class="form_top form_bottom">
    </div>
    <div class="right" style="clear: both; margin: 20px 20px 20px 20px;">
        <%= f.submit t('views.listings.edit1.s10'), :id => "submit1", :class => "submit_b" %>
    </div>
    <%end %>
</div>
