<% @onpage = 2 %>
<%= render :partial => "newlisting_edit", :object => @onpage %>
<div style="width: 750px; float:left;">
    <h2 class="text_green"><%= t('views.listings.edit2.s1') %></h2>
	    <div class="form_top">
    </div>
    <% form_for(@listing, :url => update2_url(@listing.seller, @listing), :html => {:multipart => true, :method => :put }) do |f| %>
    <div class="form_area background_grey">
    	<div style="text-align: right; float: right; "><%= image_tag("important.png")%>  = <%= t('views.listings.edit2.s2') %></div>        
        <div id="loading_spinner" style="display:none; 	position: fixed; margin-top: 250px; margin-left: 10%; border: 1px solid green;">
            <%= image_tag 'loading.gif', 	:id 	=> 'spinner',
            :class 	=> 'loading',
            :style 	=> "display:none; margin-left: 5px; margin-top: 12px;" %>
        </div>
		
        <div class="left">
            <table class="align_left">
                <tr>
                    <td class="bold">
                        <%= t('views.listings.edit2.s3') %>  <%= image_tag("important.png")%> 
						                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.collection_select(:category_id, @categories, :id, :name,  options = {},
                        html_options = {:size => 10, :style => "width: 150px;"}) %>
                        <%= set_focus_to_id("listing_category_id") %><%= error_message_on(:listing, :category_id) %>
                        <%= observe_field 	:listing_category_id,
                        :frequency 	=> 0.2,
                        :before 	=> "Element.show('spinner'); Element.show('loading_spinner')",
                        :complete	=> "Element.hide('spinner'); Element.hide('loading_spinner')",
                        :url		=> { :action => :subcategory, :id => @listing.id},
                        :with 		=> "'sc=' + encodeURIComponent(value)" %>
                    </td>
                </tr>
            </table>
        </div>
        <div id="show_subcategory" class="left">
            <div>
                <table class="align_left">
                    <tr>
                        <td class="bold">
                            <%= t('views.listings.edit2.s4') %><%= image_tag("important.png")%> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= f.collection_select(:subcategory_id, @subcategories, :id, :name, options = {},
                            html_options = { :size => 10, :style => "width: 150px;"}) %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="show_lastcategory">
            <div>
                <table class="align_left">
                    <tr>
                        <td class="bold">
                            <%= t('views.listings.edit2.s5') %>
                        </td>
                    </tr>
                    <% fields_for :listing do |l| %>
                    <tr>
                        <td>
                            <%= f.collection_select(:lastcategory_id, @lastcategories, :id, :name, options = {},
                            html_options = {:size => 10, :style => "width: 150px;"}) %>
                            <%end %>
                            <%= error_message_on(:listing, :lastcategory_id) %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
        	<br>
            <table class="align_left" style="margin-top: 10px;">
                <tr>
                    <td class="bold">
                        <%= t('views.listings.edit2.s6') %>:
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.text_field :category_tag, :size => 72, :tabindex => 11 %>
                    </td>
                </tr>
				<tr><td><br></td></tr>
                <tr>
                    <td class="bold">
                        <%= t('views.listings.edit2.s7') %>:
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.text_field :material_tag, :size => 72, :tabindex => 12 %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form_top form_bottom">
    </div>
    <div class="right" style="clear: both; margin-top: 20px;">
        <%= f.submit t('views.listings.edit2.s8'), :class => "submit_b" %>
    </div>
    <% end %>
</div>
