<%= set_focus_to_id("search") %>

<div class="leftbox">
	<%= render :partial => "shared/mainmenu" %>
	<%= render :partial => "shared/explore" %>
</div>

<div class="overview">
	<h2 class="text_green" style="padding-left: 10px;"><%= t('views.listings.results.s1') %></h2>
</div>

<%= render :partial => "shared/overview" %>

 
 
 