<div style="height: auto; width: 950px; margin-top: 40px; display: block; font-stretch: extra-expanded; border: 1px solid #eaeaea;" class="right">
    <ul style="margin-left: 0px;">
        <li>
            <%= image_tag("items/22.jpg", :size => "100x100") %>
            <%= image_tag("items/103.jpg", :size => "100x100") %>
            <%= image_tag("items/114.jpg", :size => "100x100") %>
            <%= image_tag("items/118.jpg", :size => "100x100") %>
            <%= image_tag("items/107.jpg", :size => "100x100") %>
            <%= image_tag("items/119.jpg", :size => "100x100") %>
            <%= image_tag("items/122.jpg", :size => "100x100") %>
            <%= image_tag("items/109.jpg", :size => "100x100") %>
			<%= image_tag("items/130.jpg", :size => "100x100") %>
        </li>
    </ul>
</div>
