
<h2 class="text_green"><%= t("views.site.about.s1")%></h2>
<span style="text-align: left;">
<p><%= t("views.site.about.s2")%>. </p>
<p><%= t("views.site.about.s3")%>		 </p>
 <p><%= t("views.site.about.s4")%> </p>
 <p><%= t("views.site.about.s5")%>.</p>

<h3 class="text_green"><%= t("views.site.about.s6")%></h3> 
  <p><%= t("views.site.about.s7")%></p>
</span>